body {
  background-color: #696969;
}

a {
  color: #333333;
  font-size: 150%;
  text-decoration: none;
}

ul {
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
}

li a {
  list-style-type: none;
  display: inline;
  float: left;
  text-align: center;
  background-color: white;
  padding: 14px 16px;
  width: 100%;
}

li a:hover {
  background-color: #88ffdd;
}


h1{
  font-size:300%;
  color: #ffffff;
  text-align: right;
}

p{
  text-align: left;
  color:#bbbbbb;
  font-family: times new roman;
  font-size: 40%;
}

table{
  font-size:40%;
  font-family: times new roman;
  border-collapse: collapse;
  width: 80%;
  color:blue;
  background-color: #88ffdd;
}

td, th {
  text-align: left;
  padding: 8px;
}
